/* *****ABOUT***** */
#about {
    display: grid;
    /* justify-content: space-around; */
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    /* align-items: center; */
    padding: 40px;
    margin: 40px auto;
}


#about-img {
    /* height: 600px;
    width: 400px; */
    position: relative;
    z-index: -20;
}

#about-img img {
    border-top-left-radius: 25%;
    width: 100%;
    height: inherit;
    /* background-size: cover; */
}

.img-cap {
    width: 220px;
    height: 180px;
    background-color: #69350e;
    color: white;
    position: absolute;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    padding: 15px;
    bottom: -8%;
    right: -10%;
}

.img-cap span {
    font-size: 70px;
    font-weight: bold;
}

.img-cap p {
    margin: 0;
    font-size: 22px;
    line-height: 24px;
}

.about2 {
    text-align: justify;
    margin: 60px 0 60px 60px;
}

#about2-1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 35px;
}

#about2-2 {
    font-size: 22px;
    margin-bottom: 25px;
    font-weight: 300;
    line-height: 35px;
}

#about2-3 {
    font-size: 16px;
    margin-bottom: 45px;
    line-height: 35px;
    font-weight: 150;
}

#about2-4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 45px;

}

#about2-4 span {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 100;
}

#signature {
    width: 120px;
    height: 100px;
}

/* *****PRODCTS AND SERVICES***** */
.products-services {
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 100vw;
    background-color: #F4F0F0;
    justify-content: center;
    align-items: center;
}

#product-header {
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 40px;
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
}

#product1 {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#up {
    background-color: white;
    height: 350px;
    width: 450px; 
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    height: 150px;
    width: 150px;
    background-color: #E13F2A;
    border-radius: 100px;
    overflow: hidden;
    margin-bottom: 20px;
}

.icon img {
    height: 180px;
    width: 180px;
    object-fit: cover;
    margin-bottom: inherit;
}

.secondUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secondUp h5 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.secondUp p {
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    /* font-weight: 500; */
}

.down {
    background-color: white;
    height: 350px;
    width: 450px; 
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#product2 {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#product3 {
    display: flex;
    flex-direction: column;
    border-top-right-radius: 30%;
    background-color: #69350e;
    height: 650px;
    /* width: 350px; */
    width: 450px;
    color: white;
    
}

/* forms */

#product3 h4 {
    font-size: 35px;
    font-weight: bold;
    margin: 40px 25px 10px 55px;
    /* padding: 15px 10px; */
    /* text-align: center; */
}

#product3 p {
    font-size: 16px;
    font-weight: 300;
    margin: 10px 25px 5px 55px;
    color: w2ite;
}

#enquiryForm {
    margin-top: 30px;
    margin-left: 40px;
}

#enquiryForm input,
#enquiryForm select,
#enquiryForm textarea {
    margin: 15px 25px 15px 25px;
    padding: 10px;
    border: 1px solid white;
    background-color: transparent;
    font-size: 16px;
    width: 80%;
    /* box-sizing: border-box; */
    color: #fff;
}

/* input:focus,
select:focus,
textarea:focus {
  border-color: #fff;
  outline: none;
} */

#enquiryForm button {
    margin: 15px 25px 0 25px;
    padding: 15px 50px;
    background-color: white;
    width: 80%;
    font-size: 16px;
    color: #69350e;
}

#enquiryForm button:hover {
    color: #ff6f00;
    background-color: white;
    cursor: pointer;
}
