*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

  .baskervville-regular {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .baskervville-regular-italic {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: italic;
  }
  

/* *****NAVIGATION BAR***** */
.logo {
    width: 200px;
}

.logo:hover {
    cursor: pointer;
}

nav {
    display: flex;
    /* flex-direction is always in row so we dont have to do it because is already in rows */
    justify-content: space-between;
    padding: 20px 60px;
    background-color: white;
    position: fixed;
    width: 100vw;
}

/* gap works only on flex or grid elemnt so before you introduce column gap, you should display a flex or grid*/
#nav-links {
    display: flex;
    column-gap: 40px;
    font-weight: 100;
}

#nav-links span:hover {
    color: #E13F2A;
    cursor: pointer;
}

nav button {
    background-color: white;
    padding: 10px 20px;
    height: fit-content;
    border-color: #E13F2A;
    /* border: 2px solid #E13F2A; this is the same as the border-width, border-style and border-color */
    border-width: 2px;
    border-style: solid;
    z-index: 1000;
}

nav button:hover {
    cursor: pointer;
    background-color: #E13F2A;
    color: white;
}

/* *****HERO SECTION***** */
#hero {
    background-image: url(../assets/images/hero_bg.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.hero-overlay {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    row-gap: 20px;
}

#hero-head {
    font-size: 70px;
    padding-bottom: 20px;
    font-weight: bold;
}

.paragraph {
    font-size: 28px;
    padding-bottom: 20px;
    font-weight: 500;
}

.button {
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #E13F2A;
    color: white;
    font-size: 18px;
    /* padding-top: 20px; */
}

.button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}