/* *****WHY SECTION***** */
#why {
    height: auto;
    width: auto;
    /* margin-top: 30px; */
}

#whyText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;

}

#whyText h3 {
    font-size: 26px;
    font-weight: bold;
    color: #69350e;
    margin-bottom: 25px;
}

#whyText h5 {
    font-size: 22px;
    font-weight: 200;
    text-align: center;
    line-height: 35px;
    margin-bottom: 25px;
}

#whyText p {
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 30px;
}

hr {
    border: 0.01px solid rgb(224, 223, 223);
}

#whyImage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 70px;
    margin: 50px;
}

/* *****REVIEW SECTION***** */
#reviews {
   background-image: url(../assets/images/review.png);
   background-repeat: no-repeat;
   background-size: cover; 
   height: 60vh;
   width: 100vw;
}

#reviews-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 60vh;
    width: 100vw;
    
}

#revHr {
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: white;
}

#reviewMessage {
    margin-left: 50%;
    padding-top: 5%;
}

#reviewMessage h3 {
    font-size: 42px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    /* margin-top: 30px; */
    padding-top: 30px;
}

#message {
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-left: 60px;
}

#messageTag {
    display: flex;
    flex-direction: row;
    padding-left: 60px;
}

#messageTag > div {
    padding-top: 10px;
}

#messageTag p {
    color: white;
    font-size: 18px;
    padding-left: 10px;
}

#messageImg {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    background-color: white;
    overflow: hidden;
    margin-bottom: 20px;
}

#messageImg img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    margin-bottom: inherit;
}